body{
    background-color: black;
    display: grid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    margin: 0px;
}

header{
    color: whitesmoke;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-color: rgba(245, 245, 245, 0.25);
    border-bottom-width: 1px;
    display: flex;
    padding-left: 3.5rem;
    padding-right: 1rem;
    padding-top: .5rem;

}

.refresh-button{
    height: 2rem;
    padding-left: 2px;
    border-radius: 100%;
}

.refresh-button:hover{
    background-color: rgba(245, 245, 245, 0.534);
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.title{
    margin: 0px;
    text-align: center;
    flex-grow: 1;
}

.word-area{
    margin: 2rem 0rem;
    padding-left: 0em;
    padding-right: 0em;
}

.word-line{
    display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    user-select: none;
    justify-content: center;
    
}

.letter-box{
    
    color: rgba(128, 128, 128, 0.623);
    text-align: center;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    list-style-type:none;
    margin: .25rem;
    padding: .5rem;
    border-style: solid;
    border-width: 1px;
}

.letter-box:hover{
    color: white;
}


.letter-box-contains{
    background-color: rgb(175, 152, 22);
    color: whitesmoke;

    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.letter-box-correct{
    background-color: rgb(96, 168, 38);
    color: whitesmoke;

    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.letter-box-incorrect{
    background-color: rgba(128, 128, 128, 0.623);
    color: rgba(245, 245, 245, 0.507);

    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.keyboard-area{
    color: rgba(128, 128, 128, 0.623);
    user-select: none;
}

.keyboard-line{
    list-style: none;
    display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    margin-left: 0rem;
    justify-content: center;
}

#keyboard-line-1{
    margin-left: 0rem;
}

#keyboard-line-2{
    margin-left: 0rem;
}

.letter-key{
    background-color: rgba(128, 128, 128, 0.623);
    color: rgba(245, 245, 245, 0.507);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    width: .55rem;
    height: 2rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    list-style-type:none;
    margin: .25rem;
    padding: .7rem;
    border-radius: 5px;
}

.letter-key:hover{
    color: whitesmoke;
}

.letter-key-dormant{
    background-color: rgba(128, 128, 128, 0.25);
}

.letter-key-contains{
    background-color: rgb(175, 152, 22);
}

.letter-key-correct{
    background-color: rgb(96, 168, 38);
}

#key-enter, #key-backspace{
    font-size: .65rem;
    width: 1.8rem;

}

.alert-area{
    height: 2rem;
}

.alert-box{
    color: whitesmoke;
    text-align: center;
}

.footer{
    margin-top: .5rem;
}

.creator-info{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color:rgba(245, 245, 245, 0.25);
    color: rgba(245, 245, 245, 0.671);
    text-align-last: center;
    padding-top: 1rem;
}

.creator-info a{
    color: rgba(245, 245, 245, 0.671);
}

@media only screen and (max-height: 820px) {
   .letter-key{
       width: .2rem;
   }

   .letter-box{
       height: 2rem;
       width: 2rem;
   }

   .word-area{
       margin: 10px;
       margin-bottom: 0px;
   }
  }



